include README.md
include LICENSE
include INSTALL_UVX.md
include requirements.txt
include src/trafilatura_mcp/py.typed
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store